@font-face {
    font-family: 'BootFont';
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
}

/* search bar */

.search-bar {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    display: flex;
    background-color: #323232;
    color: #5E5E5E;
    padding: 10px 400px;
    border-radius: 25px;
    font-family: 'BootFont', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    /* Abstand zwischen Bild und Text */
}

.search {
    background-color: #323232;
    border: none;
    color: white;
}

.top-half{
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #121212;
    font-family: 'BootFont', sans-serif;
}

/* navigationsmenue */

.navbar {
    position: absolute;
    margin-top: 100px;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #121212;
    font-family: 'BootFont', sans-serif;
}



.nav-item {
    color: white;
    font-size: 22px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.nav-item:hover {
    color: #FF9900;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #FF9900;
    transition: width 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
}

/* LOGO */

.logo {
    position: absolute;
    height: 75px;
    top: 20px;
    left: 175px;
}
/* collapsing side panel */

.album-row1 {
    position: absolute;
    margin-top: 200px;
    width: 100%;
    heigth: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.albumcover{
    height: 200px;
    width: 200px;
    transition: 0.3s;
}


.madvillainy{
    height: 270px;
    width: 200px;
    color: black;
    text-align: center;
}

.madvillainy-text{
    color: black;
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
}

.madvillainy:hover{
    cursor: none;
    color: white;
    .albumcover{
        transform: scale(1.2);
        border-radius: 15px;
    }
    .madvillainy-text{
        color: white;
        transform: scale(1.2);
    }
}

.utopia{
    height: 270px;
    width: 200px;
    color: black;
    text-align: center;
}

.utopia-text{
    color: black;
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
}

.utopia:hover{
    cursor: none;
    color: white;
    .albumcover{
        transform: scale(1.2);
        border-radius: 15px;
    }
    .utopia-text{
        color: white;
        transform: scale(1.2);
    }
}

.illmatic{
    height: 270px;
    width: 200px;
    color: black;
    text-align: center;
}

.illmatic-text{
    color: black;
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
}

.illmatic:hover{
    cursor: none;
    color: white;
    .albumcover{
        transform: scale(1.2);
        border-radius: 15px;
    }
    .illmatic-text{
        color: white;
        transform: scale(1.2);
    }
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover{
    color: #FF9900;
}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 2;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #121212;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a , .sidepanel button{
    padding: 1px 2px 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    background-color: transparent;
    border: none;
    transition: 0.3s;
    font-family: 'BootFont', sans-serif;

}

.sidepanel a:hover, .sidepanel button:hover {
    color: #FF9900;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

#sidepanel{
    text-align: center;
}

.openbtn {
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    color: #FF9900;
    padding: 10px 15px;
    top: 24px;
    left: 120px;
    border: none;
    position: absolute;
    font-size: 32px;
}


/* Add an active class to the active dropdown button */
.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #323232;
    padding-left: 8px;
}

.dropdown-container a {
    color: #5E5E5E;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}




